@import "reset.css";
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    margin: 0;
    color: #464646;
    font-family: 'Avenir Pro 35 Light','Nunito', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.skip-links {
    position: absolute;
    left: -10000px;
    top:auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.breadcrumb, .content {
    padding-left: 5%;
    padding-right: 5%;
}

.site-header {
    background-color: #82001c;
    padding-top: 21px;
    position: relative;
}

.hamburger-icon {
    position: absolute;
    left: 5%;
    margin-top: 22px;
}

.content h2, .grid-item .pop-text, .find-group a {
    font-family: 'Oswald', sans-serif;
}

.promotion {
    background-color: #b20127;
    color: #ff8fa7;
    text-transform: uppercase;
    display: none;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 11px;
    position: relative;
}

.promotion .hook {
    color: #fff;
}

#hamburger-menu-bg {
    display: none;
    background-color: #fff;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 105px;
    box-shadow: 1px 0 5px 0 #000;
    z-index: 10;
}

.hamburger-open #hamburger-menu-bg {
    display: block;
}

.hamburger-open .meta {
    display: block;
    position: absolute;
    top: 135px;
    z-index: 12;
    background-color: #fff;
}

.hamburger-open .meta ul {
    text-transform: none;
    border-bottom: 1px solid #464646;
}

.hamburger-open .meta ul li, .hamburger-open .filter ul li {
    margin: 10px 0;
}

.hamburger-open .meta ul li a {
    color: #464646;
    font-weight: normal;
}

.hamburger-open .filter {
    display: block;
    position: absolute;
    top: 290px;
    z-index: 12;
}

.hamburger-open .filter ul li a {
    font-size: 103%;
    font-family: 'Avenir Pro 35 Light','Nunito', sans-serif;
}

.hamburger-open .filter ul li:hover a {
    font-weight: normal;
    text-decoration: underline;
    font-family: 'Avenir Pro 35 Light','Nunito', sans-serif;
}

.hamburger-open .filter ul li.active a {
    font-weight: normal;
    font-family: 'Avenir Pro 35 Light','Nunito', sans-serif;
}

.meta {
    background-color: #82001c;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
}


.logo {
    margin: 0 auto 20px auto;
    display: block;
}

.red-logo {
    display: none;
}

.meta ul li a {
    color: #ff8fa7;
    font-weight: bolder;
}

.breadcrumb {
    background-color: #ffdd00;
    padding: 4px 0;
    line-height: 1.5;
}

.breadcrumb ul {
    margin-left: 5%;
}

.breadcrumb li {
    display: inline;
    position: relative;
}

.breadcrumb li::after {
    content: '/';
    position: absolute;
    margin-left: 10px;
}

.breadcrumb li:last-child::after {
    content: '';
}

.breadcrumb a {
    color: #464646;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 20px;
}

.breadcrumb li:first-child a {
    margin-left: 0;
}

.grid-item .pop-text {
    background-color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    color: rgb(111, 0, 33);
    display: none;
}

.meta ul {
    text-transform: uppercase;
}

.find-group {
    color: #fff;
    text-transform: uppercase;
    background-color: #b20127;
    padding: 25px 5%;
    border-top: 1px solid #ff8fa7;
    /* height: 105px; */
}

.find-group-item {
    min-width: 140px;
    background-image: url('../images/white-triangle.png');
    background-repeat: no-repeat;
    background-size: 15px 14px;
    margin-right: 60px;
}

.find-group .action-tag {
    font-family: 'Avenir Pro 35 Light','Nunito', sans-serif;
    font-size: 12px;
    display: block;
}

.find-group a {
    color: #fff;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.by-brand {
    background-position: 62px 15px;
}

.by-part-type {
    background-position: 90px 15px;
}

.search {
    background-image: url('../images/search-icon.png');
    background-repeat: no-repeat;
    background-position: 70px 2px;
    margin-right: 0;
    margin-top: 14px;
}

.phone {
    background-image: none;
    text-align: right;
}

.find-group a:hover {
    text-decoration: none;
}


.filter ul li a {
    color: #464646;
    font-size: 14px;
    font-family: 'Avenir Pro 35 Light','Nunito', sans-serif;
}

.filter ul li.active a, .filter ul li:hover a {
    font-weight: bold;
    text-decoration: none;
    font-family: 'Avenir Pro 85 Heavy','Nunito', sans-serif;
    max-width: 110px;
}

.filter-grid {
    width: 100%;
}

.grid-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    position: relative;
    height: 190px;
}

.grid-item a {
    display: block;
    height: 100%;
    padding-bottom: 10px;
    color: #464646;
}

.grid-item p {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 20%;
}

.grid-item img {
    display: block;
    margin: 0 auto;
}

.content h2, .filter, .phone {
    display: none;
}

.find-group, .filter-grid {
    display: flex;
    flex-wrap: wrap;
}

.meta-section {
    display: flex;
}


/* xtra small phones */
@media (max-width: 479px) {
    .find-group-item {
        min-width: 0;
        margin-right: 0;
        padding-right: 40px;
    }

    .search {
        margin-top: 12px;
    }

    .grid-item {
        flex-basis: 100%;
    }
}



/* phone only */
@media (min-width: 480px) {

    .find-group-item {
        min-width: 100px;
    }

    .by-part-type {
        min-width: 110px;
    }

    .grid-item p {
        left: 20%;
    }

}
/* tablet portrait mode and up */
@media (min-width: 600px) {

    #hamburger-menu-bg {
        width: 75%;
    }

    .no-flexbox .find-group {
        height: auto;
    }

    .no-flexbox .find-group-item {
        display: inline-block;
    }

    .no-flexbox .phone {
        display: none;
    }
}

/* phone landscape */
@media (max-height: 500px) {
    #hamburger-menu-bg {
        height: 150%;
    }
}



/* tablet landscape mode and up */
@media (min-width: 900px) {

    .find-group-item {
        margin-right: 50px;
    }

    .phone {
        display: inline;
        margin-left: 18px;
    }

    .grid-item {
        flex-basis: 30%;
    }

    .no-flexbox .find-group-item {
        display: inline-block;
    }
}

/* desktop and up */
@media (min-width: 1200px) {
    .white-logo {
        display: none;
    }

    .red-logo {
        float: left;
        display: block;
        margin: 13px 0 0 198px;
    }

    .site-header {
        background-color: #fff;
        padding-top: 0;
        max-width: 1366px;
        margin: 0 auto;
    }

    .hamburger-icon {
        display: none;
    }

    .meta, .content h2, .filter, .phone, .promotion {
        display: block;
    }

    .promotion {
        padding: 11px 75px 0 174px;
    }

    .promotion::before {
        transform: skewX(45deg);
        content: '';
        background-color: #fff;
        position: absolute;
        top: 0;
        left: -66px;
        width: 80px;
        padding: 8px 0 0 0;
        height: 30px;
    }

    .promotion::after {
        transform: skewX(45deg);
        content: '';
        background-color: #82001c;
        position: absolute;
        top: 0;
        right: -30px;
        width: 2em;
        padding: 8px 25px 0 15px;
        height: 30px;
    }

    .meta-section {
        padding: 0 25px;
    }

    .meta {
        background-color: #82001c;
        padding: 11px 0 0 100px;
        height: 30px;
        position: relative;
        font-size: 11px;
        flex: 1;
    }

    .meta::after {
        transform: skewX(-45deg);
        content: '';
        background-color: #fff;
        position: absolute;
        top: 0;
        right: -15px;
        width: 10px;
        padding: 8px 15px 0 15px;
        height: 30px;
    }

    .meta ul {
        margin: 0 0 0 28px;
        text-transform: uppercase;
    }

    .meta ul li {
        display: inline;
        margin: 0 40px 0 0;
    }

    .find-group {
        background-color: #fff;
        color: #82001c;
        border-top: none;
        height: auto;
        padding: 19px 5%;
    }

    .find-group a {
        color: #82001c;
    }

    .find-group-item {
        background-image: url('../images/red-triangle.png');
        margin: 9px 0 0 0;
    }

    .by-brand {
        background-position: 62px 15px;
        margin-left: 40px;
    }

    .by-part-type {
        background-position: 90px 15px;
        margin-left: 20px;
    }

    .search {
        background-position: 74px 3px;
        margin: 20px 0 0 41px;
    }

    .phone {
        background-image: none;
        margin-left: 73px;
    }

    .breadcrumb {
        border-top: 1px solid #c2c2c2;
        padding: 4px 0;
    }

    .breadcrumb ul {
        max-width: 1366px;
        margin: 0 auto;
        padding-left: 200px;
    }

    .content {
        padding: 60px 0 0 200px;
        max-width: 1366px;
        margin: 0 auto;
    }

    .content h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
    }

    .filter {
        width: 150px;
    }

    .filter ul li {
        border-bottom: 1px solid rgb(211, 211, 209);
        padding: 5px 20px 5px 0;
    }

    .filter ul li.active, .filter ul li:hover {
        background: url('../images/chevron-right.png') no-repeat center right;
    }

    .filter h3 {
        font-weight: bold;
        font-family: 'Avenir Pro 85 Heavy','Nunito', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .filter-wrap {
        margin-top: 38px;
        display: flex;
    }

    .filter-grid {
        border-left: 1px solid #d4d4d2;
        margin-left: 37px;
        max-width: 950px;
    }

    .grid-item:nth-child(-n+4) {
        border-top: 1px solid #d4d4d2;
    }

    .grid-item {
        flex-grow: 0;
        flex-basis: 200px;
        border-right: 1px solid #d4d4d2;
        border-bottom: 1px solid #d4d4d2;
        position: relative;
    }

    .grid-item p {
        margin: 0 20px;
        left: 0;
    }

    .grid-item .pop-text {
        display: none;
        text-transform: uppercase;
        border: 2px solid #82001c;
        color: #82001c;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px 40px;
        position: absolute;
        top: 75px;
        left: 46px;
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
    }

    .grid-item:hover .pop-text {
        display: block;
        text-decoration: none;
    }

    .no-flexbox .promotion {
        float: left;
        height: 30px;
    }

    .no-flexbox .promotion::after {
        padding: 8px 30px 0 15px;
    }

    .no-flexbox .meta {
        float: left;
        height: 30px;
    }

    .no-flexbox .logo {
        float: left;
    }

    .no-flexbox .find-group {
        float: left;
    }

    .no-flexbox .find-group-item {
        display: inline-block;
    }

    .no-flexbox .breadcrumb {
        clear: both;
    }

    .no-flexbox .filter {
        float: left;
    }

    .no-flexbox .filter-grid {
        float: left;
        max-width: 850px;
    }

    .no-flexbox .grid-item {
        float: left;
        width: 200px;
        height: 200px;
    }
}
